.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  text-align: center;
}

.blogCards {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  max-width: 800px;
  width: 92%;
  background: rgba(196, 196, 196, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  font-size: 1.2rem;
}

.blogCards p {
  text-align: justify;
  text-justify: inter-word;
}

.blogImgs {
  overflow: scroll;
  background: rgba(144, 144, 144, 0.4);
  backdrop-filter: blur(20px);
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 7px;
}

.centerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blogCards em,
.blogCards b {
  color: rgb(0, 55, 100);
}

.extLink {
  color: #1379ed;
}

.terminal {
  margin: 10px;
  padding: 10px;
  color: green;
  background: black;
  border-radius: 5px;
  overflow: scroll;
}

.promptLine {
  color: rgb(3, 179, 3);
  font-weight: bold;
}

.terminal code {
  font-size: 1rem;
}
.terminal pre {
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  .blogCards {
    background: rgba(20, 20, 20, 0.5);
  }

  .blogImgs {
    background: rgba(255, 255, 255, 0.4);
  }

  .blogCards em,
  .blogCards b {
    color: #9fef00;
  }
}
