.cardsFlex {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  max-width: 800px;
  width: 92%;
}

.card1 {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 20px;
  border-radius: 10px;
  background: rgba(211, 211, 211, 0.4);
  backdrop-filter: blur(7px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.heading {
  font-size: 1.5rem;
  margin: 0;
}

.card2 {
  width: 100%;
  padding: 10px;
  word-wrap: break-word;
  border-radius: 10px;
}

.card2 td,
.card2 th {
  padding: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.command {
  color: #075486;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

.note {
  color: rgb(98, 0, 255);
  margin: 0;
  background: rgba(255, 255, 255, 0.3);
  padding: 5px;
  border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
  .card1 {
    background: rgba(25, 25, 25, 0.5);
  }

  .card2 td,
  .card2 th {
    background: rgba(0, 0, 0, 0.6);
  }

  .command {
    color: #9fef00;
  }

  .note {
    color: rgb(255, 102, 0);
    background: rgba(0, 0, 0, 0.3);
  }
}
