.userInput {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 700px;
  background: rgba(204, 203, 203, 0.589);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.userInput > label {
  font-weight: bold;
}

#ipAddr,
#port,
#changeBtn {
  padding: 7px;
  border-radius: 20px;
  border: 2px solid #1172c4;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#changeBtn {
  cursor: pointer;
}

.payloadSection {
  max-width: 850px;
  padding: 10px;
  width: 92%;
  background: rgba(204, 204, 204, 0.4);
  backdrop-filter: blur(20px);
  border-radius: 12px;
  overflow-x: auto;
}

.payloadTable {
  font-size: 1.2rem;
  max-width: 700px;
}

.payloadTable td {
  padding: 10px;
}

.name,
.payload {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2rem;
}

.name {
  font-weight: bold;
  color: rgba(46, 128, 46, 0.9);
}

.payloadTable th {
  text-align: left;
  padding-bottom: 10px;
  font-size: 1.5rem;
}

.copyText {
  cursor: pointer;
}

.copyText:active {
  text-decoration: underline;
}

.highlight {
  color: #c05d00;
  font-weight: bold;
}

.zshSTTY {
  color: rgb(6, 67, 146);
  cursor: pointer;
}

.zshSTTY:active {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .userInput {
    flex-direction: column;
    width: 80%;
    height: 300px;
  }
}

@media (prefers-color-scheme: dark) {
  .userInput,
  .payloadSection {
    background: rgba(10, 10, 10, 0.7);
  }

  #ipAddr,
  #port,
  #changeBtn {
    box-shadow: rgba(17, 114, 196, 0.12) 0px 2px 4px 0px,
      rgba(17, 114, 196, 0.32) 0px 2px 16px 0px;
  }

  #ipAddr,
  #port {
    color: #9fef00;
    caret-color: #9fef00;
  }

  .name,
  .payload {
    background: rgba(0, 0, 0, 0.4);
  }

  .zshSTTY {
    color: #9fef00;
  }

  .highlight {
    color: #1172c4;
  }

  .name {
    color: #ff7402c4;
  }
}
